<template>
  <div class="tracking-wide flex flex-col h-screen">
    <header class="h-16 border">
      <slot name="header"></slot>
    </header>
    <main class="grow bg-teal_cust_1">
      <slot name="content"></slot>
    </main>
    <footer class="bg-teal_cust_1">
      <slot name="footer"> Some footer </slot>
    </footer>
    <ImpersonationModale />
  </div>
</template>

<script>
import ImpersonationModale from "@/components/organisms/ImpersonationModale";

export default {
  name: "BaseLayout",
  components: {
    ImpersonationModale,
  },
};
</script>

<style scoped></style>
