<template>
  <base-layout>
    <template #header>
      <slot name="movie-show-header">
        Some header for the movie show page
      </slot>
    </template>

    <template #content>
      <slot name="movie-show-content">
        Some content for the movie with #ID {{ $route.params.id }}
      </slot>
    </template>
  </base-layout>
</template>

<script>
import BaseLayout from "@/components/templates/BaseLayout";
export default {
  name: "MovieShowTemplate",
  components: { BaseLayout },
};
</script>

<style scoped></style>
