<template>
  <base-layout>
    <template #header>
      <slot name="movies-header"> Some header for the movies </slot>
    </template>
    <template #content>
      <div class="flex flex-col mt-4">
        <slot name="movies-intro"></slot>
        <slot class="bg-amber-800 w-1/2" name="movies-filter"></slot>
        <slot name="movies-content"> My movies list </slot>
      </div>
    </template>
  </base-layout>
</template>

<script>
import BaseLayout from "@/components/templates/BaseLayout";
export default {
  name: "MoviesIndexTemplate",
  components: { BaseLayout },
};
</script>

<style scoped></style>
