@tailwind base;

@tailwind components;

@tailwind utilities;

.movie-card-rating {
    @apply absolute bottom-0 w-full p-1.5 pl-6;
}

.movie-card-user-rating {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}

.movie-card-global-rating {
    transition: background-color 0.3s ease-in-out;
}

.movie-card-container:hover .movie-card-global-rating {
    display: none;
}

.movie-card-container:hover .movie-card-user-rating {
    opacity: unset;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}

.movie-card-container--no-hover .movie-card-user-rating {
    opacity: unset;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}

.movie-card-container--no-hover .movie-card-global-rating {
    display: none;
}
