<template>
  <MoviesIndexTemplate>
    <template #movies-header>
      <GlobalHeader />
    </template>

    <template #movies-intro>
      <medium-title
        class="flex flex-wrap items-start w-3/4 m-auto mb-2"
        title="Nos dernières nouveautés"
      />
    </template>
    <template #movies-filter>
      <movie-search-tools />
    </template>
    <template #movies-content>
      <movies-index-grid />
    </template>
  </MoviesIndexTemplate>
</template>

<script>
import MoviesIndexTemplate from "@/components/templates/MoviesIndexTemplate";
import GlobalHeader from "@/components/organisms/GlobalHeader";
import MoviesIndexGrid from "@/components/organisms/MoviesIndexGrid";
import { mapActions, mapState } from "vuex";
import MovieSearchTools from "@/components/organisms/MoviesIndexSearchTools";
import MediumTitle from "@/components/atoms/MediumTitle";

export default {
  name: "MoviesIndexPage",
  components: {
    MovieSearchTools,
    MoviesIndexTemplate,
    GlobalHeader,
    MoviesIndexGrid,
    MediumTitle,
  },
  computed: mapState({
    filters: (state) => state.movie_filters,
  }),
  watch: {
    filters: async function () {
      await this.GET_MOVIES_PAGINATED({
        filters: this.filters,
        page_nb: 1,
      });
    },
  },
  async created() {
    await this.GET_MOVIES_PAGINATED({ filters: this.filters, page_nb: 1 });
  },
  methods: {
    ...mapActions(["GET_MOVIES_PAGINATED"]),
  },
};
</script>

<style></style>
