<template>
  <MovieShowTemplate>
    <template #movie-show-header>
      <GlobalHeader />
    </template>

    <template #movie-show-content>
      <div class="m-auto w-8/12">
        <movie-show-info :movie="movie" :movie-overview="movie_overview" />
        <movie-show-similar-movies :similar-movies="similar_movies" />
      </div>
    </template>
  </MovieShowTemplate>
</template>

<script>
import MovieShowTemplate from "@/components/templates/MovieShowTemplate";
import GlobalHeader from "@/components/organisms/GlobalHeader";
import api from "@/api";
import MovieShowInfo from "@/components/organisms/MovieShowInfo";
import MovieShowSimilarMovies from "@/components/organisms/MovieShowSimilarMovies";
export default {
  name: "MovieShowPage",
  components: {
    MovieShowSimilarMovies,
    MovieShowInfo,
    GlobalHeader,
    MovieShowTemplate,
  },
  data() {
    return {
      movie: {},
      similar_movies: [],
      movie_overview: "",
    };
  },
  created() {
    api.getMovieShow({ movieId: this.$route.params.id }).then((response) => {
      this.movie = response.data._data;
    });

    api
      .getSimilarMovies({ movieId: this.$route.params.id })
      .then((response) => {
        this.similar_movies = response.data._data;
      });

    api
      .getMovieOverview({ movieId: this.$route.params.id })
      .then((response) => {
        this.movie_overview = response.data._data;
      });
  },
};
</script>

<style scoped></style>
