<template>
  <MoviesIndexTemplate>
    <template #movies-header>
      <GlobalHeader />
    </template>

    <template #movies-intro>
      <medium-title
        class="flex flex-wrap items-start w-3/4 m-auto"
        title="Nous vous recommandons les films suivants"
      />
    </template>
    <template #movies-content>
      <movies-recommended-index-grid />
    </template>
  </MoviesIndexTemplate>
</template>

<script>
import MoviesIndexTemplate from "@/components/templates/MoviesIndexTemplate";
import GlobalHeader from "@/components/organisms/GlobalHeader";
import MoviesRecommendedIndexGrid from "@/components/organisms/MoviesRecommendedIndexGrid";
import { mapActions } from "vuex";
import MediumTitle from "@/components/atoms/MediumTitle";

export default {
  name: "MoviesRecommendedPage",
  components: {
    MediumTitle,
    MoviesIndexTemplate,
    GlobalHeader,
    MoviesRecommendedIndexGrid,
  },
  methods: {
    ...mapActions(["GET_RECOMMENDED_MOVIES"]),
  },
  async created() {
    await this.GET_RECOMMENDED_MOVIES({});
  },
};
</script>

<style scoped></style>
