<template>
  <div>
    <VueMultiselect v-model="selected" :options="options"> </VueMultiselect>
  </div>
</template>

<script>
import VueMultiselect from "vue-multiselect";
export default {
  components: { VueMultiselect },
  data() {
    return {
      selected: null,
      options: ["list", "of", "options"],
    };
  },
};
</script>

<style scoped></style>
