<template>
  <div class="flex flex-wrap">
    <button
      v-for="user in impersonated_users"
      :key="user"
      type="button"
      class="rounded-full bg-blue_cust_2 py-2 px-3 m-2"
      @click="impersonate(user)"
    >
      #{{ user }}
    </button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "ImpersonationModaleContent",
  mounted() {
    this.ALL_USER_IDS();
  },
  computed: {
    ...mapState({
      impersonated_users: "allUserIds",
    }),
  },
  methods: {
    ...mapActions({
      ALL_USER_IDS: "ALL_USER_IDS",
      LOGIN: "LOGIN",
    }),
    impersonate(userId) {
      this.LOGIN({ userId: userId });
    },
  },
};
</script>

<style scoped></style>
