<template>
  <!-- For why negative margins here, see https://stackoverflow.com/a/44523788/10767428 -->
  <div class="flex flex-wrap justify-start -mt-1 -ml-1">
    <text-in-chip
      v-for="genre in genres"
      :key="genre"
      :text="genre"
    ></text-in-chip>
  </div>
</template>

<script>
import TextInChip from "@/components/atoms/TextInChip";

export default {
  name: "MovieShowGenres",
  components: { TextInChip },
  props: {
    genres: {
      required: true,
      type: Array,
      default: function () {
        return [];
      },
    },
  },
};
</script>

<style scoped></style>
