<template>
  <div v-if="movieTitle && movieYear">
    <medium-title :title="movieTitle" />
    <regular-text> Sorti en {{ movieYear }} </regular-text>
  </div>
</template>

<script>
import MediumTitle from "@/components/atoms/MediumTitle";
import RegularText from "@/components/atoms/RegularText";
export default {
  name: "MovieShowTitle",
  components: { RegularText, MediumTitle },
  props: {
    movieTitle: {
      required: true,
      type: String,
    },
    movieYear: {
      required: true,
      type: Number,
    },
  },
};
</script>

<style scoped></style>
