<template>
  <div
    class="relative movie-card-container"
    :class="{ 'movie-card-container--no-hover': noHoverProperty }"
  >
    <movie-poster :movie-poster-url="movieUrl" />
    <movie-card-global-rating
      :movie-global-rating="movie.ml_mean_rating"
      class="movie-card-global-rating movie-card-rating"
    />
    <movie-card-user-rating
      v-if="movie.ml_id"
      :movie-user-rating="null"
      :movie-id="movie.ml_id"
      @toggle-thank-you="noHoverProperty = !noHoverProperty"
    />
  </div>
</template>

<script>
import MoviePoster from "../atoms/MoviePoster";
import MovieCardGlobalRating from "../atoms/MovieCardGlobalRating";
import MovieCardUserRating from "./MovieCardUserRating";

export default {
  name: "MoviesIndexCardPoster",
  components: {
    MoviePoster,
    MovieCardGlobalRating,
    MovieCardUserRating,
  },
  props: {
    movie: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      noHoverProperty: false,
    };
  },
  computed: {
    movieUrl() {
      return (
        "https://image.tmdb.org/t/p/w220_and_h330_face/" + this.movie.poster_url
      );
    },
  },
};
</script>
