<template>
  <div class="flex justify-between w-60 items-center">
    <movie-button
      :disabled="!movie_pagination.previous_page"
      @click.prevent="paginate(-1)"
    >
      Précédent
    </movie-button>
    <movie-paginate-count />
    <movie-button
      :disabled="!movie_pagination.next_page"
      @click.prevent="paginate(1)"
    >
      Suivant
    </movie-button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import MovieButton from "@/components/atoms/MovieButton";
import MoviePaginateCount from "@/components/atoms/MoviePaginateCount";

export default {
  name: "MoviesIndexPaginate",
  components: { MoviePaginateCount, MovieButton },
  computed: {
    ...mapState({
      filters: (state) => state.movie_filters,
      movie_urls: (state) => state.movie_urls,
      movie_pagination: (state) => state.movie_pagination,
    }),
  },
  methods: {
    ...mapActions(["GET_MOVIES_PAGINATED"]),

    async paginate(direction) {
      await this.GET_MOVIES_PAGINATED({
        filters: this.filters,
        page_nb: +this.movie_urls.current + direction,
      });
    },
  },
};
</script>

<style scoped></style>
