<template>
  <div
    class="movie-card-user-rating movie-card-rating flex justify-center items-center font-bold"
  >
    <div v-if="movieUserRating" class="text-white">
      Vous avez noté ce film : {{ movieUserRating }}
    </div>
    <div v-else-if="showThankYou" class="text-white">
      Merci !
      <svg
        class="checkmark"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 52 52"
      >
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path
          class="checkmark__check"
          fill="none"
          d="M14.1 27.2l7.1 7.2 16.7-16.8"
        />
      </svg>
    </div>
    <div v-else class="text-white">
      <div>Quelle note donnez-vous à ce film ?</div>
      <StarRating v-model="rating" @movie-rated="handleMovieRated" />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import StarRating from "@/components/atoms/StarRating";

export default {
  name: "MovieCardUserRating",
  components: { StarRating },

  props: {
    movieUserRating: {
      required: false,
      type: Number,
    },
    movieId: {
      required: true,
      type: Number,
    },
  },
  emits: { "toggle-thank-you": null },
  data() {
    return {
      rating: 3,
      showThankYou: false,
    };
  },
  methods: {
    ...mapActions(["RATE_MOVIE"]),
    handleMovieRated(event) {
      const rating = event.toFixed(2);
      const movieId = this.movieId;
      const that = this;

      this.$emit("toggle-thank-you");

      window.setTimeout(that.toggleThankyouVisibility, 1500);
      this.RATE_MOVIE({ movieId, rating })
        .then((response) => {
          console.log(response);
          window.setTimeout(that.toggleThankyouVisibilityAndRestoreHover, 4500);
        })
        .catch((error) => {
          // TODO Afficher une erreur plutôt qu'un message de confirmation
          console.error(error);
        });
    },
    toggleThankyouVisibility() {
      this.showThankYou = !this.showThankYou;
    },
    toggleThankyouVisibilityAndRestoreHover() {
      this.$emit("toggle-thank-you");
      this.showThankYou = !this.showThankYou;
    },
  },
};
</script>

<style scoped>
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  opacity: 1;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
</style>
