<template>
  <div class="flex -ml-2">
    <regular-text
      v-for="country in movie_countries_name_iso"
      :key="country.iso"
      class="ml-2"
    >
      {{ country.name }}
      <movie-show-country-flag :iso="country.iso" />
    </regular-text>
  </div>
</template>

<script>
import RegularText from "@/components/atoms/RegularText";
import MovieShowCountryFlag from "@/components/atoms/MovieShowCountryFlag";
export default {
  name: "MovieShowCountries",
  components: { MovieShowCountryFlag, RegularText },
  props: {
    movieCountries: {
      required: true,
      type: Array,
      default: function () {
        return [];
      },
    },
  },
  data() {
    return {
      all_countries: [],
      movie_countries_name_iso: [],
    };
  },
  created() {
    this.all_countries = require("i18n-iso-countries");
    this.all_countries.registerLocale(
      require("i18n-iso-countries/langs/en.json")
    );
    this.all_countries.registerLocale(
      require("i18n-iso-countries/langs/fr.json")
    );

    this.movieCountries.forEach((countrie) => {
      const country_name = this.all_countries.getName(countrie, "fr");
      this.movie_countries_name_iso.push({ name: country_name, iso: countrie });
    });
  },
};
</script>

<style scoped></style>
