<template>
  <div class="flex items-center justify-start">
    <p>Trier par :</p>
    <select-input
      class="w-64 ml-4"
      :options="movie_order_options"
      :default="movie_order_default"
      @input="handleOrderingChange"
    ></select-input>
    <movie-button
      v-if="sort_order === -1"
      class="ml-4"
      @on-click-button-event="handleToggleSortOrder"
    >
      <i data-feather="arrow-down"></i>
    </movie-button>
    <movie-button
      v-else
      class="ml-4"
      @on-click-button-event="handleToggleSortOrder"
    >
      <i data-feather="arrow-up"></i>
    </movie-button>
  </div>
</template>

<script>
import SelectInput from "@/components/atoms/SelectInput";
import MovieButton from "@/components/atoms/MovieButton";
import { mapMutations } from "vuex";

export default {
  name: "MoviesIndexOrdering",
  components: {
    SelectInput,
    // eslint-disable-next-line vue/no-unused-components
    MovieButton,
  },
  data() {
    return {
      movie_order_options: [
        { name: "release_year", label: "Date de sortie" },
        { name: "budget", label: "Budget" },
        { name: "revenue", label: "Revenus" },
        { name: "profit", label: "Bénéfices" },
        { name: "ml_mean_rating", label: "Notes" },
      ],
      movie_order_default: { name: "release_year", label: "Date de sortie" },
      sort_by: "release_year",
      sort_order: -1,
    };
  },
  computed: {
    filters() {
      return { sorts: this.sort_by, order: this.sort_order };
    },
  },
  watch: {
    sort_by: function () {
      this.set_movie_filters(this.filters);
    },
    sort_order: function () {
      this.set_movie_filters(this.filters);
    },
  },
  methods: {
    ...mapMutations(["set_movie_filters"]),

    handleOrderingChange(event) {
      this.sort_by = event.name;
    },

    handleToggleSortOrder() {
      if (this.sort_order === -1) {
        this.sort_order = 1;
      } else {
        this.sort_order = -1;
      }
    },
  },
};
</script>

<style scoped></style>
