<template>
  <regular-text> Tags utilisateurs : </regular-text>
  <div class="flex flex-wrap justify-start -mt-1 -ml-1">
    <!-- TODO Print other tags in separated modal, with "see more" button -->
    <text-in-chip
      v-for="(tag, key) in tags.slice(0, 10)"
      :key="key"
      :text="tag"
      :class="'bg-white text-dark_green_cust_1 border border-dark_green_cust_1'"
    ></text-in-chip>
  </div>
</template>

<script>
import TextInChip from "@/components/atoms/TextInChip";
import RegularText from "@/components/atoms/RegularText";
export default {
  name: "MovieShowTags",
  components: { RegularText, TextInChip },
  props: {
    tagsProp: {
      required: true,
      type: Array,
      default: () => {
        return [];
      },
    },
  },
  data() {
    return {
      tags: [],
    };
  },
  created() {
    // Delete dupplicate with Set.
    // See https://stackoverflow.com/a/9229821/10767428
    this.tags = [...new Set(this.tagsProp)];
  },
};
</script>

<style scoped></style>
