<template>
  <div class="w-44 m-4 bg-white rounded-md">
    <movies-index-card-poster :movie="movie" />
    <div class="m-2">
      <movie-card-title
        :movie-title="movie.title"
        :movie-release-year="movie.release_year"
        :movie-id="movie.ml_id"
      />
      <movie-card-prediction
        v-if="prediction"
        :predicted-note="prediction"
        class="text-gray-800 leading-3 text-sm mt-2"
      />
    </div>
  </div>
</template>

<script>
import MoviesIndexCardPoster from "./MoviesIndexCardPoster";
import MovieCardTitle from "../atoms/MovieCardTitle";
import MovieCardPrediction from "@/components/atoms/MovieCardPrediction";
export default {
  name: "MovieCard",
  components: { MovieCardPrediction, MovieCardTitle, MoviesIndexCardPoster },
  props: {
    movie: {
      required: true,
      type: Object,
    },
    prediction: {
      required: false,
      type: String,
      default: null,
    },
  },
};
</script>

<style scoped></style>
