<template>
  <div
    v-if="open"
    id="modale-overlay"
    class="fixed inset-0 w-full h-screen flex items-center justify-center bg-bg_semi_75"
    @click="closeOverlay"
  >
    <div class="w-1/2 max-w-2xl bg-white shadow-lg rounded-lg p-8">
      <button
        aria-label="close"
        class="absolute top-0 right-0 text-xl text-gray-500 my-2 mx-4"
        @click.prevent="close"
      >
        ×
      </button>
      <slot name="modal-header"></slot>
      <slot name="modal-content"></slot>
      <slot name="modal-footer"></slot>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "BaseModale",
  computed: {
    ...mapState({
      open: "is_modale_open",
    }),
  },
  methods: {
    ...mapMutations({
      set_is_modale_open: "set_is_modale_open",
    }),
    close() {
      this.set_is_modale_open(false);
    },
    closeOverlay(event) {
      if (event.target.id === "modale-overlay") {
        this.close();
      }
    },
  },
};
</script>

<style scoped></style>
