<template>
  <div class="h-full bg-green-400 pt-4 pb-4 font-bold mb-4">
    <div class="flex justify-between w-3/4 m-auto items-center">
      <ul class="flex">
        <li class="">
          <router-link to="/movies">Films</router-link>
        </li>
        <li class="ml-10">
          <router-link v-if="currentUser" to="/recommended-movies"
            >Mes recommandations</router-link
          >
        </li>
      </ul>
      <div class="flex">
        <div>
          <ImpersonationButton class="mr-6" />
        </div>
        <div v-if="currentUser">
          <LogoutButton />
        </div>
        <div v-else>
          <LoginButton />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import LoginButton from "@/components/atoms/LoginButton";
import LogoutButton from "@/components/atoms/LogoutButton";
import ImpersonationButton from "@/components/atoms/ImpersonationButton";

export default {
  name: "GlobalHeader",
  components: { ImpersonationButton, LogoutButton, LoginButton },
  computed: {
    ...mapState({
      currentUser: "currentUser",
    }),
  },
};
</script>

<style></style>
