<template>
  <base-modale>
    <template #modal-header>
      <medium-title class="mb-2" :title="'Choisissez votre utilisateur'" />
    </template>
    <template #modal-content>
      <impersonation-modale-content />
    </template>
  </base-modale>
</template>

<script>
import BaseModale from "@/components/organisms/BaseModale";
import ImpersonationModaleContent from "@/components/molecules/ImpersonationModaleContent";
import MainTitle from "@/components/atoms/MainTitle";
import MediumTitle from "@/components/atoms/MediumTitle";
export default {
  name: "ImpersonationModale",
  components: {
    MediumTitle,
    MainTitle,
    ImpersonationModaleContent,
    BaseModale,
  },
};
</script>

<style scoped></style>
