<template>
  <div class="flex flex-wrap items-start w-3/4 m-auto">
    <movie-card
      v-for="movie in movies"
      :key="movie.ml_id"
      :movie="movie"
      :prediction="movie.prediction"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
// TODO change pour pouvoir inclure les notes prédites
import MovieCard from "../molecules/MovieCard";

export default {
  name: "MoviesRecommendedIndexGrid",
  components: { MovieCard },
  computed: mapState({
    movies: (state) => state.recommended_movies,
  }),
};
</script>

<style scoped></style>
