<template>
  <div class="flex w-3/4 m-auto justify-between items-center">
    <movies-index-ordering />
    <movies-index-paginate />
  </div>
</template>

<script>
import MoviesIndexOrdering from "@/components/molecules/MoviesIndexOrdering";
import MoviesIndexPaginate from "@/components/molecules/MoviesIndexPaginate";

export default {
  name: "MoviesIndexSearchTools",
  components: { MoviesIndexPaginate, MoviesIndexOrdering },
};
</script>

<style scoped></style>
