<template>
  <div>
    <div v-if="movie" class="m-8 flex">
      <movie-poster
        :movie-poster-url="movieUrl"
        width="w-1/3"
        height="h-auto"
      />
      <div class="ml-8 w-2/3">
        <movie-show-info-row v-if="movie.title && movie.release_year">
          <movie-show-title
            :movie-title="movie.title"
            :movie-year="movie.release_year"
          />
        </movie-show-info-row>
        <movie-show-info-row v-if="showGenres">
          <movie-show-genres :genres="movie.genres" />
        </movie-show-info-row>
        <movie-show-info-row v-if="showCountries">
          <movie-show-countries :movie-countries="movie.companies_iso" />
        </movie-show-info-row>
        <movie-show-info-row v-if="showCompany">
          <regular-text>
            Société(s) :
            <span v-for="(company, key) in movie.companies" :key="key">
              {{ company }}<span v-if="showCommaAfter(key)">, </span>
            </span>
          </regular-text>
        </movie-show-info-row>
        <movie-show-info-row v-if="showMoney">
          <bullet-list :elements-in-list="money_as_array" />
        </movie-show-info-row>
        <movie-show-info-row v-if="showTags">
          <movie-show-tags :tags-prop="movie.tags" />
        </movie-show-info-row>
      </div>
    </div>
    <div class="m-8">
      <regular-text v-if="showOverview">
        {{ movieOverview }}
      </regular-text>
    </div>
  </div>
</template>

<script>
import MoviePoster from "@/components/atoms/MoviePoster";
import MovieShowTitle from "@/components/molecules/MovieShowTitle";
import MovieShowGenres from "@/components/molecules/MovieShowGenres";
import MovieShowCountries from "@/components/molecules/MovieShowCountries";
import MovieShowInfoRow from "@/components/molecules/MovieShowInfoRow";
import RegularText from "@/components/atoms/RegularText";
import BulletList from "@/components/atoms/BulletList";
import MovieShowTags from "@/components/molecules/MovieShowTags";
export default {
  name: "MovieShowInfo",
  components: {
    MovieShowTags,
    BulletList,
    RegularText,
    MovieShowInfoRow,
    MovieShowCountries,
    MovieShowGenres,
    MovieShowTitle,
    MoviePoster,
  },
  props: {
    movie: {
      type: Object,
      required: true,
    },
    movieOverview: {
      type: String,
      required: false,
      default: () => {
        return "";
      },
    },
  },
  data() {
    return {
      money_as_array: [],
    };
  },
  computed: {
    movieUrl() {
      return (
        "https://image.tmdb.org/t/p/w600_and_h900_bestv2/" +
        this.movie.poster_url
      );
    },
    showGenres() {
      return this.movie.genres && this.movie.genres.length > 0;
    },
    showCountries() {
      return this.movie.companies_iso && this.movie.companies_iso.length > 0;
    },
    showCompany() {
      return (
        this.movie.companies &&
        this.movie.companies.length > 0 &&
        this.movie.companies[0].length > 0
      );
    },
    showMoney() {
      return this.money_as_array.length > 0;
    },
    showTags() {
      return this.movie.tags && this.movie.tags.length > 0;
    },
    showOverview() {
      return this.movieOverview && this.movieOverview.length > 0;
    },
  },
  beforeUpdate() {
    if (this.movie.budget) {
      const budget = this.getNumberFormattedAsCurrency(this.movie.budget);
      this.money_as_array.push(`Budget : ${budget} $`);
    }

    if (this.movie.revenue) {
      const revenue = this.getNumberFormattedAsCurrency(this.movie.revenue);
      this.money_as_array.push(`Chiffre d'affaire : ${revenue} $`);
    }

    if (this.movie.profit) {
      const profit = this.getNumberFormattedAsCurrency(this.movie.profit);
      this.money_as_array.push(`Bénéfices : ${profit} $`);
    }
  },
  methods: {
    showCommaAfter(key) {
      return key + 1 < this.movie.companies.length;
    },
    getNumberFormattedAsCurrency(number) {
      return new Intl.NumberFormat("fr-FR").format(number);
    },
  },
};
</script>

<style scoped></style>
