<template>
  <div class="mx-8 flex flex-wrap">
    <main-title title="Films similaires" class="w-full"/>
    <movie-card
      v-for="movie in similarMovies"
      :key="movie._id"
      :movie="movie"
    />
  </div>
</template>

<script>
import MovieCard from "../molecules/MovieCard";
import MainTitle from "@/components/atoms/MainTitle";

export default {
  name: "MovieShowSimilarMovies",
  components: {MainTitle, MovieCard },
  props: {
    similarMovies: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style scoped></style>
