<template>
  <div class="flex flex-wrap items-start w-3/4 m-auto">
    <movie-card v-for="movie in movies" :key="movie._id" :movie="movie" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import MovieCard from "../molecules/MovieCard";

export default {
  name: "MoviesIndexGrid",
  components: { MovieCard },
  computed: mapState({
    movies: (state) => state.movies,
  }),
};
</script>

<style scoped></style>
