<template>
  <div id="app">
    <!--
      The key allows us to routing a component from an identical parent component
      See https://github.com/vuejs/vue-router/issues/1490
    -->
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
import jwt_decode from "jwt-decode";

export default {
  mounted() {
    const token = localStorage.getItem("jwtToken");
    if (token) {
      this.REFRESH_TOKEN()
        .then((response) => {
          console.log("Token is still valid");
          console.log(response);
          const decoded = jwt_decode(token);
          this.logUser(decoded["sub"]);
        })
        .catch((error) => {
          console.error("Token is not valid anymore, earasing...");
          console.error(error);
          this.logoutUser();
          localStorage.removeItem("jwtToken");
        });
    }

    // TODO déplacer cela dans la modale d'impersonnation. Aucun intérêt ici.
    // this.ALL_USER_IDS();
  },

  methods: {
    ...mapMutations({
      logUser: "logUser",
      logoutUser: "logoutUser",
    }),
    ...mapActions({
      REFRESH_TOKEN: "REFRESH_TOKEN",
    }),
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
