<template>
  <ul>
    <li v-for="(element, key) in elementsInList" :key="key">{{ element }}</li>
  </ul>
</template>

<script>
export default {
  name: "BulletList",
  props: {
    elementsInList: {
      required: true,
      type: Array,
      default: () => {
        return [];
      },
    },
  },
};
</script>

<style scoped></style>
