<template>
  <button type="button" @click.prevent="openModale">Incarner</button>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "ImpersonationButton",
  methods: {
    ...mapMutations(["set_is_modale_open"]),

    openModale() {
      this.set_is_modale_open(true);
    },
  },
};
</script>
