<template>
  <button type="button" @click.prevent="login">Se connecter</button>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "LoginButton",
  methods: {
    ...mapActions(["LOGIN"]),

    login() {
      this.LOGIN({ userId: 64180 });
    },
  },
};
</script>

<style scoped></style>
