<template>
  <button type="button" @click.prevent="logout">Se déconnecter</button>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "LogoutButton",
  methods: {
    ...mapActions(["LOGOUT"]),

    logout() {
      this.LOGOUT();
    },
  },
};
</script>
