<template>
  <img
    class="object-cover rounded-t-md"
    :class="width + ' ' + height"
    :src="moviePosterUrl"
    alt="Affiche du film"
  />
</template>

<script>
export default {
  name: "MoviePoster",
  props: {
    moviePosterUrl: {
      type: String,
      required: true,
    },
    height: {
      type: String,
      default: "h-64",
    },
    width: {
      type: String,
      default: "w-44",
    },
  },
};
</script>

<style scoped></style>
