<template>
  <div>
    <span>Note prédite : </span><span> {{ predictedNote }} / 5 </span>
  </div>
</template>

<script>
export default {
  name: "MovieCardPrediction",
  props: {
    predictedNote: {
      required: true,
      type: String,
    },
  },
};
</script>
