<template>
  <button
    class="bg-gray-400 hover:bg-gray-700 p-1 rounded"
    type="button"
    @click.prevent="onClickButtonEvent"
  >
    <slot>Hello</slot>
  </button>
</template>

<script>
import feather from "feather-icons";

export default {
  name: "MovieButton",
  emits: ["onClickButtonEvent"],
  mounted() {
    feather.replace({ "stroke-width": 2, width: 20, height: 20 });
  },
  methods: {
    onClickButtonEvent() {
      this.$emit("onClickButtonEvent");
    },
  },
};
</script>

<style scoped></style>
