<template>
  <span v-if="iso">{{ flagEmoji }}</span>
</template>

<script>
export default {
  name: "MovieShowCountryFlag",
  props: {
    iso: {
      required: true,
      type: String,
      default: () => {
        return "";
      },
    },
  },
  computed: {
    flagEmoji() {
      return this.getFlagEmoji(this.iso);
    },
  },
  methods: {
    // https://dev.to/jorik/country-code-to-flag-emoji-a21
    getFlagEmoji(countryCode) {
      const codePoints = countryCode
        .toUpperCase()
        .split("")
        .map((char) => 127397 + char.charCodeAt());
      return String.fromCodePoint(...codePoints);
    },
  },
};
</script>

<style scoped></style>
