<template>
  <router-link :to="`/movie/${movieId}`">
    <div>
      <h3 :title="movieTitle" class="font-extrabold">
        {{ movieTitleShrinked }}
      </h3>
      <p v-if="movieReleaseYear" class="text-gray-800 leading-3 text-sm">
        {{ movieReleaseYear }}
      </p>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "MovieCardTitle",
  props: {
    movieTitle: {
      required: true,
      type: String,
    },
    movieReleaseYear: {
      required: false,
      default: null,
      type: Number,
    },
    movieId: {
      required: true,
      type: Number,
    },
  },
  computed: {
    movieTitleShrinked() {
      if (this.movieTitle.length > 25) {
        return this.movieTitle.substring(0, 25) + "...";
      }

      return this.movieTitle;
    },
  },
};
</script>

<style scoped></style>
