<template>
  <div class="relative">
    <input
      class="inline w-8"
      :value="movie_pagination.current_page"
      aria-describedby="userCurrentPageRules"
      @input="updateUserCurrentPage"
    />
    <div
      id="userCurrentPageRules"
      role="tooltip"
      class="text-sm bg-gray-800 text-white invisible absolute p-2 w-36 rounded top-9"
    >
      Veuillez entrer une valeur comprise entre 1 et
      {{ movie_pagination.total_pages }}
    </div>
    <span>/ {{ movie_pagination.total_pages }}</span>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "MoviePaginateCount",
  data() {
    return {
      user_page_error: null,
    };
  },
  computed: {
    ...mapState({
      movie_pagination: (state) => state.movie_pagination,
      filters: (state) => state.movie_filters,
    }),
  },
  methods: {
    ...mapActions(["GET_MOVIES_PAGINATED"]),

    async paginate(page_number) {
      await this.GET_MOVIES_PAGINATED({
        filters: this.filters,
        page_nb: +page_number,
      });
    },

    updateUserCurrentPage(e) {
      const user_page = e.target.value;
      if (
        user_page > 0 &&
        user_page <= this.movie_pagination.total_pages &&
        user_page !== null &&
        user_page !== "undefined"
      ) {
        this.$store.commit("updateCurrentPage", e.target.value);
        this.paginate(e.target.value);
      } else {
        this.user_page_error = `Veuillez entrer une valeur valide, comprise entre 1 et ${this.movie_pagination.total_pages}`;
      }
    },
  },
};
</script>

<style scoped>

[aria-describedby]:hover + [role="tooltip"],
[aria-describedby]:focus + [role="tooltip"] {
  visibility: visible;
}
</style>
