<template>
  <div
    class="opacity-90 bg-dark_green_cust_1 text-white flex"
  >
    <span class="pt-0.5 h-6">
      <i data-feather="star"></i>
    </span>
    <span class="pl-4 h-6 leading-7">
      {{ showMovieGlobalRating }}
    </span>
  </div>
</template>

<script>
import feather from "feather-icons";

export default {
  name: "MovieCardGlobalRating",
  props: {
    movieGlobalRating: {
      required: true,
    },
  },
  computed: {
    showMovieGlobalRating() {
      return this.movieGlobalRating ?? "Aucune note";
    },
  },
  mounted() {
    feather.replace({ "stroke-width": 2, width: 20, height: 20 });
  },
};
</script>

