<template>
  <multiselect
    v-model="value"
    track-by="name"
    label="label"
    placeholder="Sélectionner"
    :options="options"
    :select-label="''"
    :selected-label="''"
    :deselect-label="''"
    :allow-empty="false"
    @select="onInput"
  ></multiselect>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  name: "SelectInput",
  components: {
    Multiselect,
  },
  props: {
    options: {
      required: true,
      type: Array,
    },
    default: {
      required: false,
      type: Object,
      default: null,
    },
  },
  emits: ["input"],
  data() {
    return {
      value: null,
    };
  },
  mounted() {
    if (this.default) {
      this.value = this.default;
    }
  },
  methods: {
    onInput(event) {
      // We need to json parse, because here event is a proxy.
      // See https://stackoverflow.com/a/66605598/10767428
      this.$emit("input", JSON.parse(JSON.stringify(event)));
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.css"></style>

<style>
.multiselect__tags {
  min-height: 30px;
  height: 30px;
  display: block;
  padding: 4px 40px 0 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
}

.multiselect__select {
  line-height: 16px;
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  right: 1px;
  top: 1px;
  padding: 0px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 30px;
  height: 30px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect__option::after {
  top: 0;
  right: 0;
  position: absolute;
  line-height: 40px;
  padding-right: 12px;
  padding-left: 20px;
  font-size: 13px;
}

.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 30px;
  text-align: left;
  color: #35495e;
}
</style>
