<template>
  <span class="bg-dark_green_cust_1 text-white rounded px-2 mt-1 ml-1">
    {{ text }}
  </span>
</template>

<script>
export default {
  name: "TextInChip",
  props: {
    text: {
      required: true,
      type: String,
    },
  },
};
</script>

<style scoped></style>
