<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="relative">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
<!--		<impersonation-modale></impersonation-modale>-->
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>
<!--<script>-->
<!--	import ImpersonationModale from "@/components/organisms/ImpersonationModale";-->
<!--	export default {-->
<!--		components: {ImpersonationModale}-->
<!--	}-->
<!--</script>-->